streamlit
io 
pandas
numpy
json
numpy
pandas
matplotlib.pyplot
datetime
json
yfinance
pandas_datareader
random
scipy 
plotly.graph_objects
tqdm 
tqdm.tqdm
fscraper
riskfolio
reportlab.pdfgen
reportlab.pdfgen.canvas 
