streamlit
pandas
numpy
numpy
pandas
matplotlib.pyplot
yfinance
pandas_datareader
random
scipy 
plotly.graph_objects
tqdm 
tqdm.tqdm
fscraper
riskfolio
reportlab.pdfgen
reportlab.pdfgen.canvas 
